version: "3"

{% if is_asgi %}
x-config-host: &config-host ${HOST:-0.0.0.0}
x-config-port: &config-port ${PORT:-8080}
{% endif %}

services:
  nonebot:
    build: .
    {% if is_asgi %}
    ports:
      - *config-port
    {% endif %}
    env_file:
      - .env.prod
    environment:
      ENVIRONMENT: prod
      {% if is_asgi %}
      HOST: *config-host
      PORT: *config-port
      {% endif %}
    restart: always
