{% from "docker/_helpers.Dockerfile.jinja" import requirements_stage, reverse_config -%}

{{ requirements_stage(python_version, build_backend) }}

FROM python:{{ python_version }}-slim

WORKDIR /app

ENV TZ Asia/Shanghai
ENV PYTHONPATH=/app

COPY --from=requirements_stage /tmp/bot.py /app

{% if build_backend %}
COPY --from=requirements_stage /wheel /wheel
RUN pip install --no-cache-dir --no-index --find-links=/wheel -r /wheel/requirements.txt && rm -rf /wheel
{% endif %}

COPY . /app/

CMD ["python", "bot.py"]
